*{
    margin:0%;
    font-family:monospace;
    font-size: 1.5vw;
    color: rgba(230,230,230);
}
#Background{
    height:100%;
    width:100%;
    position: relative;
    background-color:rgb(10,10,10);
    z-index: 0;
}
#Header {
    position:sticky;
    display:flex; 
    flex-direction:row;
    height:10vw;
    width:100%;
    max-width:100%;
    margin: 0px 0px 0px 0px;
    background-color:rgb(20, 20, 20);
    z-index: 100000;
    border-radius: 0px;
}
.HeaderButton {
    cursor: pointer;
    display:flex;
    font-size: 200%;
    font:bold;
    padding:auto;
    margin:auto;
    border-radius:20px;
    justify-content: center;
    align-items: center;
    transition: color 0.3s 0s ease-out;
}
.HeaderButton:hover {
    color:rgb(120, 100, 120);
}



.Title1{
    padding:1vw 1vw 1vw 1vw;
    font-size: 10vw;
    color:rgb(226, 226, 226);
    background-color:rgba(255, 255, 255, 0);
    opacity:1;
}
.Title2{
    padding:1vw 1vw 1vw 1vw;
    font-size: 5vw;
    color:rgb(226, 226, 226);
    background-color:rgba(255, 255, 255, 0);
    opacity:1;
}
.Paragraph{
    height:fit-content;
    padding:1vw;
    position:relative;
    display:flex;
    color:rgb(226, 226, 226);
    background-color:rgba(255, 255, 255, 0);
    opacity:1;
}


.image{
    margin:1vw;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    position:sticky;
    width: 80%;
    opacity: 0;
    transition: opacity 1s 0s ease-out;
}

.parallax {
    height: 20%;
    z-index: 0;
    background-color: rgb(10,10,10);
    background-attachment: fixed;
    position:sticky;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex; 
    justify-content: center; 
    height:fit-content;
}


.banner {
    background-color: rgb(20,20,20); 
    display:flex; 
    justify-content: center;
    flex-direction: row; 
}

@media screen and (max-width: 700px) {
    .banner {
        background-color: rgb(20,20,20); 
        display:inline-block; 
        justify-content: center;
        flex-direction: row; 
    }
    .image {
        width: 50%;
    }
}
