*{
    margin:0%;
    font-family:monospace;
    font-size: large;
    color: rgba(230,230,230);
}

#Background{
    height:100%;
    width:100%;
    position: relative;
    background-color:rgb(10,10,10);
    z-index: 0;
}

#Header {
    position:sticky;
    display:flex; 
    flex-direction:row;
    height:100px;
    width:100%;
    max-width:100%;
    margin: 0px 0px 0px 0px;
    background-color:rgb(20, 20, 20);
    z-index: 100000;
    border-radius: 0px;
}

.HeaderButton {
    cursor: pointer;
    display:flex;
    font-size: 200%;
    font:bold;
    padding:20px;
    margin:10px;
    border-radius:20px;
    justify-content: center;
    align-items: center;
    transition: color 0.3s 0s ease-out;
}

.HeaderButton:hover {
    color:rgb(120, 100, 120);
}

.Paragraph{
    height:fit-content;
    padding:10px 10px 10px 10px;
    position:relative;
    display:flex;
    color:rgb(226, 226, 226);
    background-color:rgba(255, 255, 255, 0);
    opacity:1;
}
.Title{
    padding:1px 1px 1px 10px;
    font-size: 500%;
    color:rgb(226, 226, 226);
    background-color:rgba(255, 255, 255, 0);
    opacity:1;
}


.image{
    margin:10px;
    display:flex;
    position:sticky;
    left: 50%; 
    width: 80%;
    opacity: 0;
    transition: opacity 1s 0s ease-out;
}

.parallax {

    /* Full height */
    height: 20%;
    z-index: 0;
  
    /* Create the parallax scrolling effect */
    background-color: rgb(10,10,10);
    background-attachment: fixed;
    position:sticky;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
