*{
    font-family:monospace;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: max(1rem);
    color: rgba(240,240,240);
    margin:0px;
}
#Background{
    padding:0px;
    margin:0px;
    height: max(calc(fit-content),100%);
    width:100%;
    position: relative;
    background-color:rgb(40,40,40);
    z-index: 0;
}
h1 {
    font-size: 3rem;
    margin: 1rem;
}
h1Centered h1 {
    width: 100%;
    text-align: center;
}
