
*{
    --project_container_background_color: rgba(25,25,25,0.8);
    --project_container_border_color: rgba(25,25,25,0.8);
    --project_container_border_color_highlight: var(--theme_color_dark);
    --trapezoid_border_color: rgba(20,20,20,0.75);
    --trapezoid_border_color_highlight: var(--theme_color_dark);
}


#welcome_section{
    transition: transform 1s, opacity 5s;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
}
body.loaded #welcome_section{
    opacity: 1;
}

.titleA{

    /*font-family: 'Abril Fatface', cursive;*/
    text-align: left;

    transition: width 3s, color 1s, transform 3s;

    width: 0%;

    font-size:10em;
    background-image:url('Lake3IMG.jpg');
    background-size: cover;
    color: rgba(250,255,255,0.01);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    /*transform: rotateX(90deg);*/
    overflow: hidden;
    text-overflow: hidden;

    margin-right: 10%;
    margin-left: 10%;
    cursor: default;
}
body.loaded .titleA{
    /*transform: rotateX(0deg) translateY(100px);*/
    width: 100%;
}
.titleA:hover{
    color: var(--theme_color_low_opacity);
}

.subtitleA{
    font-size: 1.2vmax;

    color: transparent;
    -webkit-transition: color 2s;
    -moz-transition: color 2s;
    -o-transition: color 2s;
    -ms-transition: color 2s;
    transition: color 2s;

    margin-left: 15%;
    margin-right: 5%;
    width: 90%;
    max-width: fit-content;

    line-height:1.7;

    overflow: wrap;
}
body.loaded .subtitleA{
    color: white;
}
.subtitle_delay1{
    -webkit-transition: color 2s 2s;
    -moz-transition: color 2s 2s;
    -o-transition: color 2s 2s;
    -ms-transition: color 2s 2s;
    transition: color 2s 2s;
}
.subtitle_delay2{
    -webkit-transition: color 2s 3.5s;
    -moz-transition: color 2s 3.5s;
    -o-transition: color 2s 3.5s;
    -ms-transition: color 2s 3.5s;
    transition: color 2s 3.5s;
}
.subtitle_delay3{
    -webkit-transition: color 2s 5s;
    -moz-transition: color 2s 5s;
    -o-transition: color 2s 5s;
    -ms-transition: color 2s 5s;
    transition: color 2s 5s;
}
.subtitle_delay4{
    -webkit-transition: color 2s 7s;
    -moz-transition: color 2s 7s;
    -o-transition: color 2s 7s;
    -ms-transition: color 2s 7s;
    transition: color 2s 7s;
}




.image_me{
    display: block;
    position:absolute;
    top: 0;
    left: 0;

    color: white;
    opacity: 0;
    border-radius:50%; 

    width:98%;
    justify-self:center;

    transition: border-radius 2s, width 1s, opacity 2s 2s, border-color 2s;

    border-width: 1%;
    border-style:solid;
    border-color: transparent;

    animation-name: wiggle_border_radius;
    animation-duration: 10s;
    animation-iteration-count: 100;
}
.image_me:hover {
    border-color: var(--theme_color);
    border-radius: 45%;
}
.canvas_me{
    display: block;
    position: absolute;

    top: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;

    border-radius:50%; 
    opacity: 0;
    transition: opacity 0.5s 1s;
}
.canvas_me:hover {
    opacity: 1;
}

body.loaded .image_me{
    opacity:1;
}








.dualSection{
    position:relative;
    width: 80%;
    display:flex;
    flex-direction: row;
    padding-top: 5%;
    padding-left:10%;
}
.dualSectionA{
    position:relative;
    width: 70%; 
}
.dualSectionB{
    position:relative;
    width: 50%;
}
.image_downarrow{
    opacity: 0;
    width: 70px;
    height: 70px;
    margin:auto;
    margin-top: 0;
    justify-self:center;
    /*clip-path: polygon(5% 0%,  10% 0%, 10% 10%, 15% 10%, 7.5% 20%, 0% 10%, 5% 10%);*/
    clip-path: polygon(25% 0%,  50% 0%, 50% 60%, 75% 60%, 37.5% 100%, 0% 60%, 25% 60%);
    
    transition: opacity 3s 6s;

}
body.loaded .image_downarrow{
    opacity:1;
}












.content_column{
    width:70%; 
    height:fit-content; 
    margin-left:15%; 
    opacity: 1;
    transition: opacity 0.5s;
}
.project_container{
    opacity: 0.1;
    width: 100%;
    height: 50vh;
    background-color: var(--project_container_background_color);
    padding: 1%;
    border-radius: 10px;
    border-width: 2px;
    border-style:solid;
    border-color: var(--project_container_border_color);
    justify-self: center;
    position: relative;

    transition: opacity 0.5s, border-color 0.5s, transform 0.5s;
}
.project_container::before{
    content: '';
    display:block;
    position: absolute;
    /*outline: 3px solid var(--project_container_border_color);*/
    background-color: var(--project_container_border_color);
    border-style: solid 2px;
    border-radius:inherit;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: snake;
}
@keyframes snake {
    0.1%  { left: 0; top: -2px; width: 0; height: 0; }
    5%  { left: 0; top: -2px; width: 20%; height: 5px; }
    20% { left: 80%; top: -2px; width: 20%; height: 5px;}
    25% { left: 100%; top: -2px; width: 0; height: 0; }

    25.1% {left: 100%; top: 0; width:0; height: 0;}
    30% {left: 100%; top: 0; width:5px; height: 20%;}
    45% {left: 100%; top: 80%; width:5px; height: 20%;}
    50% {left: 100%; top: 100%; width:0; height: 0;}

    50.1% {left: 100%; top:100%; width:0; height:0;}
    55% {left: 80%; top:100%; width:20%; height:5px;}
    70% {left: 0; top:100%; width:20%; height:5px;}
    75% {left: 0; top:100%; width:0; height:0px;}

    75.1% {left: -2px; top:100%; width:0; height:0;}
    80% {left: -2px; top:80%; width:5px; height:20%;}
    95% {left: -2px; top:0; width:5px; height:20%;}
    100% {left: -2px; top:0; width:0; height:0px;}
}
.project_container:hover {
    border-color: var(--project_container_border_color_highlight);
}



.left_trapezoid{
    border-radius: 15px;
    border-style:solid;
    border-width: 2px;
    border-color: var(--trapezoid_border_color);
    height:98%;
    font-size: 5em;
    text-align: left;
    width:90%;
    padding: 0%;

    float:left;
    background-size:cover;

    background-attachment:fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;

    cursor: pointer;

    -webkit-clip-path: polygon(0% 0, 70% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0, 70% 0, 50% 100%, 0% 100%);

    -webkit-shape-outside: polygon(0% 0, 70% 0, 50% 100%, 0% 100%);
    shape-outside: polygon(0% 0, 70% 0, 50% 100%, 0% 100%);

    transition: border-color 0.5s, color 0.5s;
}
.left_trapezoid:hover {
    /*border-color: rgba(55,55,55,1);*/
    border-color: var(--trapezoid_border_color_highlight);
    color: var(--theme_color_light);
}
.left_text {
    margin-top:auto;
    margin-bottom:auto;
    text-align:left;
    line-height: 1.5;
    padding: 1%;
}




.right_trapezoid{
    border-radius: 15px;
    border-style:solid;
    border-width: 2px;
    border-color: var(--trapezoid_border_color);
    height:90%;
    font-size: 5em;
    text-align: right;
    width:90%;
    padding: 2%;

    float:right;
    /*background: black url(circuitSimulatorIMG.png) center top no-repeat;*/
    background-attachment:fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;

    cursor: pointer;

    -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);

    -webkit-shape-outside: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
    shape-outside: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);

    transition: border-color 0.5s, color 0.5s;

}
.right_trapezoid:hover {
    border-color: var(--trapezoid_border_color_highlight);
    color: var(--theme_color_light);
}
.right_text {
    margin-top:auto;
    margin-bottom:auto;
    text-align:left;
    line-height: 1.5;
    padding: 1%;
}


.project_container_cutout{
    z-index: -1;
    opacity:1;
    width: 70%;
    height: 50vh;
    background-color: var(--project_container_background_color);
    padding: 0%;
    border-radius: 10px;
    border-width: 2px;
    border-style:solid;
    border-color: var(--project_container_border_color);
    justify-self: center;

    transition: opacity 0.5s, border-color 0.5s;

    position: absolute;

    --cutPath: 0 0, 100% 0%, 100% 50%, 98% 50%, 
    98% 2%, 34% 2%, 53% 98%, 98% 98%, 
    98% 50%, 100% 50%, 100% 100%, 0% 100%;

    -webkit-clip-path: polygon(var(--cutPath));
    clip-path: polygon(var(--cutPath));

    -webkit-shape-outside: polygon(var(--cutPath));
    shape-outside: polygon(var(--cutPath));
}
.project_container_cutout:hover {
    border-color: var(--project_container_border_color_highlight);
}




#controls_box {
    opacity: 0.3; 
    padding: 1%; 
    font-size: smaller;
    width: fit-content;
    transition: opacity 0.5s;
}
#controls_box:hover {
    opacity: 1;
}



#glcanvas {
    opacity: 0.2;
    transition: opacity 3s 6s;
}
body.loaded #glcanvas {
    opacity: 1;
}


@media (max-aspect-ratio: 3/3) {
    .titleA {
        font-size:5em;
    }
    .subtitleA{
        font-size: 1.2em;
    }
    .dualSection{ 
        width: 100%;
        padding-left:0;
    }
    .image_me{
        width: 80%;
    }
    .content_column{
        width:90%;  
        margin-left:5%; 
    }
    .project_container{
        height:fit-content;
    }
    .right_trapezoid {
        background-attachment:local;

        -webkit-clip-path: none;
        clip-path: none;
        -webkit-shape-outside: none;
        shape-outside: none;
        width: 100%;
        height:auto;
    }
    .left_trapezoid {
        background-attachment:local;

        -webkit-clip-path: none;
        clip-path: none;
        -webkit-shape-outside: none;
        shape-outside: none;
        width: 100%;
        height:auto;
    }
    #controls_box {
        font-size:medium;
    }
}


@keyframes wiggle_border_radius {

    0% {
        border-radius: 50%;
    }
    50% {
        border-radius: 45%;
    }
    100% {
        border-radius: 50%;
    }
}
